.main {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  &__header {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;

    &__title {
      padding: 1.4rem;
    }

    &--top {
      flex-basis: 55%;
      display: flex;
      justify-content: space-between;
    }

    &__controls {
      display: flex;
      align-items: center;
      margin: 0 1rem;

      .btn:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &--bottom {
      display: flex;
      border-bottom: 0.1rem solid #cccccc;
      justify-content: space-between;
      padding-bottom: 1rem;
    }
  }
}
